<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
    th:fragment="layout(title, content)">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:replace="${title}">Démonstration de layout</title>
    <style>
        nav {
            margin-bottom: 2em;
        }
    </style>
</head>
<body>
    <header th:fragment="header">
        <nav>
            <a href="#" th:href="@{/}">home</a>
            <a href="#" th:href="@{/h2-console}">console h2 (url: jdbc:h2:mem:demo)</a>
        </nav>
    </header>
    <main th:replace="${content}">
        (vide)
    </main>

</body>

</html>